.productscontainer{
    border: 0.1rem solid #000;
    width: 80%;
    margin: auto;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.products-filter{
    border: 0.1rem solid #000;
    width: 46.8%;
    margin: 0.5rem;
    padding: 0.2rem 0.25rem;
}
.products-sort--view{
    /* border: 0.1rem solid #000; */
    margin-left: -50%;
}
.products-sort{
    border: 0.1rem solid #000;
    margin: 0.5rem;
    padding: 0.2rem 0.25rem;
}
.products-view{
    border: 0.1rem solid #000;
    margin: 0.5rem;
    padding: 0.2rem 0.25rem;
}